@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

header {
  display: flex;
}

header img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-position: center;
}

main {
  padding-left: 300px;
}

h1 {
  text-transform: uppercase;
  padding: 10px 0;
}

h2 {
  text-transform: uppercase;
  margin: 15px auto;
  text-align: center;
}

p {
  line-height: 1.7;
}

.head {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: rgb(24, 129, 167);
  color: #fff;
  padding: 40px;
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
}

.social a {
  display: inline-block;
  font-size: 1.3rem;
  padding: 10px;
  color: #fff;
}

#objective {
  padding: 20px 50px 50px 300px;
  text-align: center;
}

#skills ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  gap: 20px;
}

#skills li {
  padding: 30px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

#experience,
#education,
#skills {
  padding: 40px 20px;
}

#experience {
  background: url(./img/services-bg.jpg) no-repeat;
  background-size: cover;
  color: white;
}

#education {
  background: rgb(13, 8, 58);
  color: white;
}

#experience ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  list-style: none;
}

#experience h3,
#education h3 {
  text-transform: uppercase;
  padding-bottom: 10px;
}

#experience p {
  font-size: 1.1rem;
  line-height: 1.6;
}

#education li {
  list-style: none;
  display: flex;
  padding-bottom: 30px;
}

#education h4 {
  font-size: 1.3rem;
}

#education {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
    url(./img/edu.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.edu-content {
  padding-left: 50px;
}
.edu-content h4{
  font-style: italic;
}

.associate {
  text-align: center;
  padding-top: 50px;
}

@media (max-width: 980px) {
  #experience ul {
    grid-template-columns: 1fr;
  }

  #skills ul {
    grid-template-columns: 1fr;
  }

  #education li {
    flex-direction: column;
  }

  .edu-content {
    padding: 0;
  }
}

@media (max-width: 800px) {
  main,
  #objective {
    padding: 20px;
  }

  .head {
    position: static;
    width: 100%;
    height: auto;
  }

  header {
    display: block;
  }
}
