* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 50px;
}

header img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-position: center;
}

h1 {
  text-transform: uppercase;
  padding: 10px 0;
}

h2 {
  text-transform: uppercase;
  padding-bottom: 15px;
}

.head {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.stack {
  padding-left: 20px;
}

#skills ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  gap: 20px;
}
@media (max-width: 900px) {
  #skills ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 560px) {
  #skills ul {
    grid-template-columns: 1fr;
  }

  header {
    padding: 0 10px;
  }
}

#skills li {
  padding: 30px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

#experience,
#education,
#skills {
  /* background: rgba(29, 83, 119, 0.878); */
  padding: 70px 20px;
}

#experience {
  background: #333;
  color: white;
}

#education,
header {
  background: rgb(13, 8, 58);
  color: white;
}

#experience ul {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(500px, 1fr)); */
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  list-style: none;
}

@media (max-width: 900px) {
  #experience ul {
    grid-template-columns: 1fr;
  }
}

#experience h3,
#education h3 {
  text-transform: uppercase;
  padding-bottom: 5px;
}

#experience p {
  font-size: 1.1rem;
  line-height: 1.6;
}

#education li {
  list-style: none;
  display: flex;
  padding-bottom: 30px;
}

#education h4 {
  font-size: 1.3rem;
}

.edu-content {
  padding-left: 50px;
}

.associate {
  text-align: center;
}
